#book_menu img
{
	float: left;
	position: relative;
}

#book_menu
{
	margin-left:220px;
}


#book_menu img:hover,
#book_menu img:focus
{
    transition:all 1s ease;
    transform: rotateX(360deg);
}


#IC_section
{
	display: block;
    position: relative;
    bottom: 0px;
}

#IC_section article
{
	margin-top: 200px;
}

#IC_section img
{
	float: left;
}

#IC_section h1
{
	position: relative;
	top: -525px;
	color: gold;
	font-size: 3em;
	text-align: center;
		
}


#IC_section h2
{
	font-family: 'BallparkWeiner', serif;
	color: black;
	font-size: 3em;
	margin-bottom: 50px;
	margin-top: 100px;
	margin-left: 300px;
}

#IC_section h3
{
	margin-left: 150px;
}


#IC_intro
{
	background: white;
	margin-top: 100px;
	width: 800px;
	height: 320px;
	left: -150px; 
    font-family: 'Trebuchet MS', Arial, sans-serif;
    /*color: white;*/
    border-radius: 5px;
    position: relative;
    box-shadow: 10px 10px 10px #1c1a19;
    bottom: 617px;
}

#IC_intro p
{
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

#IC1
{
	margin-top: 100px;
	width: 800px;
	height: 1150px;
	left: -150px; 
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: rgba(100,100,255,1);
    /*color: white;*/
    border-radius: 5px;
    position: relative;
    box-shadow: 10px 10px 10px #1c1a19;
    bottom: 500px;

}

#IC1 p
{
	padding-right: 40px;
	padding-left: 20px;
}

#IC1 video
{
	height: 300px;
	width: 500px;
	margin-left: 150px;
	position: relative;
	top: 50px;

}

#IC1 h4
{
	color:rgba(100,100,255,1);
	font-size: 30px;
	text-shadow: 2px 2px 4px black;
}

#IC2
{
	margin-top: 100px;
	width: 800px;
	height: 720px;
	left: -140px;
	background-color: rgba(255,70,50,1);
    margin: auto;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    /*color: white;*/
    border-radius: 5px;
    position: relative;
    box-shadow: 10px 10px 10px #1c1a19;
    bottom: 500px;
}

#IC2 h4
{
	color: rgba(255,70,50,1);
	font-size: 30px;
	text-shadow: 2px 2px 4px black;
}

#IC2 p
{
	padding-right: 40px;
	padding-left: 20px;
}

#IC3
{
	margin-top: 100px;
	width: 800px;
	height: 720px;
	left: -140px;
    margin: auto;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: rgba(255,255,50,1);
    /*color: white;*/
    border-radius: 5px;
    position: relative;
    box-shadow: 10px 10px 10px #1c1a19;
    bottom: 500px;
}

#IC3 h4
{
	color: rgba(255,255,50,1);
	font-size: 30px;
	text-shadow: 2px 2px 4px black;
}

#IC3 p
{
	padding-right: 40px;
	padding-left: 20px;
}

#IC4
{
	margin-top: 100px;
	width: 800px;
	height: 720px;
	left: -140px;
    margin: auto;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: rgba(50,200,60,1);
    /*color: white;*/
    border-radius: 5px;
    position: relative;
    box-shadow: 10px 10px 10px #1c1a19;
    bottom: 500px;
  
}


#IC4 h4
{
	color: rgba(50,200,60,1);
	font-size: 30px;
	text-shadow: 2px 2px 4px black;
}


#IC4 p
{
	padding-right: 40px;
	padding-left: 20px;
}

body
{
	background-image: url('../Images/Books/InheritanceCycle/eragonBg.jpg');

}


#IC_section aside
{
	width: 200px;
    height: 450px;
    font-size: 0.9em;
    left: 540px;
    
}

#IC1 aside
{
	position: relative;
	bottom: 930px;
	left: 780px;
	height: 200px;
}

#IC2 aside
{
	position: relative;
	bottom: 550px;
	left: 780px;
	height: 200px;
}

#IC3 aside
{
	position: relative;
	bottom: 550px;
	left: 780px;
	height: 200px;
}

#IC4 aside
{
	position: relative;
	bottom: 550px;
	left: 780px;
	height: 200px;
}



#IC_auteur
{
	width: 200px;
    height: 450px;
    font-size: 0.9em;
    margin: inherit;
    left: 540px;
    bottom: -100px;
}

#IC_auteur img
{
	position: relative;
    right: 0px;
    width: 150px;
    height: 150px;
    border: 1px solid #181818;
    border-radius: 5px;
    margin: 10px 0px 10px 20px;
    box-shadow: 0px 4px 4px #1c1a19;
    bottom: 5px;
    margin-bottom: 20px;
}

#IC_section table
{
	margin-top: 25px;
	box-shadow: 6px 6px 5px rgba(100,100,255,1);
	text-shadow: 2px 2px 4px black;
	margin-left: 0px;
	height: 150px;
	width: 200px;
}

#IC1 table
{
	box-shadow: 6px 6px 5px rgba(100,100,255,1);	
}

#IC2 table
{
	box-shadow: 6px 6px 5px rgba(255,70,50,1);
}

#IC3 table
{
	box-shadow: 6px 6px 5px rgba(255,255,50,1);
}

#IC4 table
{
	box-shadow: 6px 6px 5px rgba(50,200,60,1);
}

td 
{
    border: 2px outset black;
}


#sous_body
{
	/*width: none;
    margin: none;*/
    font-family: 'Trebuchet MS', Arial, sans-serif;
    /*border-radius: none;
    position: none;*/
    box-shadow: none;
    margin-top: 400px;
    bottom: -1000px;
	top: 20px;
	background: none;
}

